
a:link {
  color: black
}

a:visited {
  color: black
}

a:hover {
  color: rgb(40, 123, 40)
}

a:active {
  color: purple
}
.article_card {
  background-color: #CFDEE7;
  color:black;
}

.article_card:hover {
  background-color: #92B4F4;
  color: black; 
}

#navbar_list {
  list-style: none;
  background-color:#CFDEE7;
}

.comment_card {
  list-style: none;
  background-color: #CFDEE7;
  text-align: center;
  color: black;
  border-style: groove;
  border-color: black;
  border-radius: 3rem;
  padding:2px;
}
.comment_card:hover {
  background-color: #92B4F4;
  color: black; 
}

.user_imgs {
  display:flex;
  justify-content: left;
  width: 10em;
  height: 10em;
  object-fit: cover;
    border-radius: 50%;
}

.user_card {
  list-style: none;
  background-color: #cFDEE7;
  color: black;
  width: 20rem;
  border-radius: 10%;
  border: 1px black
}
.user_list {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh;
    align-self: center;
}

.user_div {
  display: flex;
  direction: column;
  justify-content: center;
  align-items: center;
}

.profile_img {
  display: flex;
  justify-content: left;
  width: 5em;
  height: 5em;
  object-fit: cover;
    border-radius: 50%;
}

.error {
  text-align: center;
}