
a:link {
  color: black
}

a:visited {
  color: black
}

a:hover {
  color: rgb(40, 123, 40)
}

a:active {
  color: purple
}
.article_card {
  background-color: #f4f7f5;
  color:black;
}

.article_card:hover {
  background-color: pink;
  color: black; 
}

#navbar_list {
  list-style: none;
  background-color:#f4f7f5;
}

.comment_card {
  list-style: none;
  background-color: #f4f7f5;
  text-align: center;
  color: black;
  border-style: groove;
  border-color: black;
  border-radius: 3rem;
  padding:2px;
}
.comment_card:hover {
  background-color: pink;
  color: black; 
}

.user_imgs {
  display:flex;
  justify-content: left;
  width: 10em;
  height: 10em;
  object-fit: cover;
    border-radius: 50%;
}

.user_card {
  list-style: none;
  background-color: #f4f7f5;
  color: black;
}

.profile_img {
  display:flex;
  justify-content: left;
  width: 5em;
  height: 5em;
  object-fit: cover;
    border-radius: 50%;
}

.error {
  text-align: center;
}